body {
    background-color: #DFB91D;
    font-family: 'PT Sans', sans-serif;
}

#logo {
    height: 200px;
    width: 200px;
    ;
}

.static-top {
    background-color: #DFB91D;
}

a {
    color: black;
    background-color: transparent;
    font-size: 30px;
    ;
}

.carousel-silde {
    height: 200px;
    width: 100%;
}

#div_form {
    background-color: white;
    height: 400px;
    width: 500px;
    align-items: center;
    text-align: center;
    padding: 100px;
}

.main {
    padding: 100px;
}

h3 {
    color: white;
    text-align: center;
}

.age {
    background-color: gray;
    color: white;
    height: 50px;
    width: 150px;
    margin-right: 50px;
}

.box {
    width: 150px;
    height: 50px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}

::placeholder {
    color: white;
}

.btn-grad {
    background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB 51%, #403B4A 100%)
}

.btn-grad {
    margin-top: 20px;
    ;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 50px;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#result {
    margin-bottom: 50px;
}

#container {
    margin-top: 50px;
    margin-left: 200px;
}

.dog-head {
    z-index: 100;
    -webkit-animation: head-move 1s ease-in-out infinite;
}

div.dog-body {
    height: 300px;
    width: 225px;
    margin-top: -175px;
    margin-left: 40px;
    background-image: url('http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png');
    background-repeat: no-repeat;
}


/*ANIMATIONS
---------------------------------------------------------*/

@-webkit-keyframes head-move {
    50% {
        -webkit-transform: rotate(-1.5deg);
    }
}